@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --color-1: #ccd5ae;
    --color-2: #e9edc9;
    --color-3: #fefae0;
    --color-4: #faedcd;
    --color-5: #d4a373;
}

/* Section 1 */
.section-1{
    width: 100%;
    background-color: var(--color-1);
    padding: 2rem 0;
}

.create-note{
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    /* justify-content: space-evenly; */
    position: relative;
    z-index: 1;
}

.section-1-heading{
    font-size: 4rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 900;
    color: var(--color-2);
    text-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .5);
}

.section-1 span{
    position: absolute;
    top: 7.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: crimson;
    font-size: 1rem;
    letter-spacing: .2rem;
    font-weight: 600;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
}

span.error-message{
    visibility: visible;
    opacity: 1;
}

.notepad{
    background-color: var(--color-3);
    width: 25rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, .5);
    position: relative;
}

.notepad::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: .5rem;
    bottom: -.5rem;
    background-color: var(--color-3);
    box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, .5);
    z-index: -1;
}

.notepad::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 1rem;
    bottom: -1rem;
    background-color: var(--color-3);
    box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .5);
    z-index: -2;
}


.notepad-text{
    width: 90%;
    height: 80%;
    background-color: transparent;
    border: none;
    resize: none;
    font-size: 1.8rem;
    letter-spacing: .1rem;
}

.btn{
    position: absolute;
    width: 8rem;
    padding: .1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--color-4);
    color: var(--color-5);
    border: .2rem solid var(--color-5);
    border-radius: .3rem;
    box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: background-color .3s;
}

.btn:hover {
    background-color: var(--color-3);
}

.add-btn{
    bottom: 2rem;
    left: 0;
}

.delete-btn,
.edit-btn{
    visibility: hidden;
    opacity: 0;
}

.delete-btn{
    bottom: 2rem;
    right: 0;
}

.edit-btn{
    bottom: 6rem;
    right: 0;
}

.change{
    visibility: visible;
    opacity: 1;
}
/* End of Section 1 */

/* Section 2*/
.section-2{
    width: 100%;
    background-color: var(--color-4);
    padding: 4rem 0;
}

.notes-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 140rem;
    margin-inline: auto;
}

.note{
    background-color: var(--color-3);
    width: 25rem;
    height: 20rem;
    margin: 2rem;
    box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, .5);
    cursor: pointer;
    position: relative;
}

.note:hover{
    box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, .5);
}

.note-text::before{
    content: '';
    position: absolute;
    width: 2rem;
    height: 6rem;
    background-color: var(--color-5);
    top: -1.8rem;
    left: .2rem;
    transform: rotate(50deg);
    box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .5);
}

.note-text{
    padding: 2rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 300;
    height: 100%;
    overflow: hidden;
}
/* End of Section 2 */

/* Responsive */
@media (max-width: 700px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 550px){
    .create-note {
        width: 90%;
    }

    .add-btn {
        bottom: 2rem;
    }

    .delete-btn{
        left: 0;
        bottom: 10rem;
    }

    .edit-btn{
        left: 0;
    }

    .notes-wrapper {
        width: 90%;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .section-1 span {
        top: 7rem;
    }

    .create-note {
        padding-bottom: 4rem;
    }
    
    .add-btn {
        left: 20%;
        bottom: 0;
    }

    .delete-btn {
        left: 42%;
        bottom: 0;
    }

    .edit-btn {
        left: 64%;
        bottom: 0;
    }
}

@media (max-width: 350px) {
    html{
        font-size: 45%;
    }

    .section-1-heading {
        font-size: 3rem;
    }

    .section-1 span {
        top: 6rem;
    }

    .create-note {
        padding-bottom: 4rem;
    }

    .add-btn {
        left: 16%;
        bottom: 0;
    }

    .delete-btn {
        left: 42%;
        bottom: 0;
    }

    .edit-btn {
        left: 68%;
        bottom: 0;
    }
}

@media (max-width: 300px){
    html{
        font-size: 40%;
    }
}